<h1>Scores</h1>

<div class="container text-center">
  <h1>******** Now your results ********</h1>
  <h2> Your word: <%= "#{@attempt}" %> </h2>
  <h2> Time Taken to answer: <%= "#{@result[:time]}" %></h2>
  <h2> Your score: <%= "#{@result[:score]}" %></h2>
  <h2> Message: <%= "#{@result[:message]}" %></h2>
</div>
